
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #eff4f5,
    100 : #d6e4e7,
    200 : #bbd2d7,
    300 : #9fc0c7,
    400 : #8bb3bb,
    500 : #76a5af,
    600 : #6e9da8,
    700 : #63939f,
    800 : #598a96,
    900 : #467986,
    A100 : #e0f9ff,
    A200 : #adeeff,
    A400 : #7ae3ff,
    A700 : #61ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customThemes-primary: mat.define-palette($md-mcgpalette0);
$customThemes-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customThemes-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$customThemes-theme: mat.define-light-theme((
  color: (
    primary: $customThemes-primary,
    accent: $customThemes-accent,
    warn: $customThemes-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($customThemes-theme);

