/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  overflow-x: hidden;
}
.custom-style{
    background-color:white;
    color:rgb(23, 51, 58);
    font-size: 30px;
  }
 /* ::-webkit-scrollbar{
    display: none;
  }*/
